<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{index :: layout(~{::title}, ~{::.content}, ${'workouts'})}">

<head>
    <title>Sporto klubo sistema - Redaguoti treniruotę</title>
</head>

<body>

<div class="content">
    <div class="row">
        <div class="col-12">
            <!-- Edit workout -->
            <div class="card card-table-border-none">
                <div class="card-header justify-content-between">
                    <h2>Redaguoti treniruotės informaciją</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/workouts/edit/{id}(id=${workout.getId()})}" method="post"
                          th:object="${workout}">
                        <input type="hidden" name="id" th:value="*{getId()}">
                        <div class="form-group mb-4">
                            <label for="name">Pavadinimas</label>
                            <input type="text" class="form-control" id="name" name="name" th:value="*{getName()}">
                        </div>
                        <div class="form-group mb-4">
                            <label for="date">Data</label>
                            <input type="datetime-local" class="form-control" id="date" name="date"
                                   th:value="*{getDate()}">
                        </div>
                        <div class="form-group mb-4">
                            <label for="places">Vietos</label>
                            <input type="text" class="form-control" id="places" name="places" th:value="*{getPlaces()}">
                        </div>
                        <div class="form-group mb-4">
                            <label for="location">Adresas</label>
                            <input type="text" class="form-control" id="location" name="location"
                                   th:value="*{getLocation()}">
                        </div>
                        <div class="d-flex justify-content-end mt-5">
                            <button type="submit" class="btn btn-primary mb-2 btn-pill">Išsaugoti treniruotę</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>